// @import '../base/var.scss';
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
body {
    background-color: $bg1;
}

.container {
    margin: 30px 5vw;
}

.card-list {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 20px 0;
    list-style: none;
}

.card-list .card-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px 32px 10px;
    border-radius: 4px;
    width: 270px;
}

ul.card-list li.card-item:hover div.thumb,
ul.card-list li.card-item:focus div.thumb {

    transform: scale(1.2);
}

ul.card-list li.card-item div.thumb {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 230px;
    transition: all .2s ease-in-out;
    z-index: 0;
    position: relative;
}

ul.card-list li.card-item div.description {
    max-width: 100%;
    padding: 12px 16px 10px 16px;
    background: $route1;
    font-size: 14px;
    z-index: 1;
    position: relative;
    flex: 1 1 auto;
    color: $bg1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter {
    margin-top: 20px;
    flex-direction: column;
    font-weight: 300;
}

.filter p {
    margin: 0px 0 5px 5px;
}

.filter p::before {
    /* Using the :before pseudo-element
    to add the SVG content */
    display: inline-flex;
    content: '';
    /* Using the background-image and
    its related properties to add the SVG content */
    background-image: url('../assets/img/icons/icon-distance.svg');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

div.thumb {
    background-image: url("https://picsum.photos/id/1/200/300");
}

.h-100 {
    height: 100%;
}

.flex-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

/* @media screen and (max-width: 570px) {
    ul.card-list li.card-item div.thumb {
        width: 200px;
        height: 180px;
    }


    ul.card-list li.card-item,
    ul.card-list li.card-item div.description {
        width: 200px;
    }
} */
}
