@import '../base/var.scss';

footer {
    padding: 30px 40px 50px 40px;

        a:link,
        a:visited {
            color: $text;
            text-decoration: none;
        }

        a:hover, a:active {
            opacity: 60%;
        }
}

#footer-top {
    flex-direction: row;
    justify-content: space-between;

    p {
        margin: 0;
    }

img {
    &:first-child
    {
        min-width: 120px;
        width: 150px;
        padding-top: 10px;
        &:hover, &:active {
            opacity: 60%;
        }
    }
}

#haut {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    img {
        min-width: 15px;
        width: 15px;
    }
}

}

#footer-middle {
    flex-direction: column;

    #footer-contact {
        flex-direction: column;
        grid-row-gap: 20px;
        padding: 30px 0;
        border-bottom: solid $text 1px;
        div {
            flex-direction: column;
        }
    }
}



#footer-bottom {
    flex-direction: column;
    align-items: center;
    #social {
        flex-direction: row;
        margin: 40px 0 0 0;
        gap: 20px;
        align-items: center;
        img {
            height: 25px;
        }
    }

    ul {
        margin: 40px 0 30px 0 ;
        text-align: center;
    }
}