@import '../base/var.scss';
.hidden
{
    display: none !important;
}

.container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    background: $bg3;
}

.navbar {
    width: 100%;

    .menu-items {
        display: flex;
    }

    ul {

        li {
            display: flex;
        }

        a {
            text-transform: uppercase;
        }

        img {
            transform: rotate(180deg);
        }

        a:link,
        a:visited {
            color: white;
            text-decoration: none;
            font-weight: 500;
            padding: 0.7rem;
        }

        a:active {
            font-weight: 600;
        }
    }
}



#checkbox-wrapper {
    width: 40px;
    height: 40px;
}

#checkbox-wrapper::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  
  #checkbox-menu {
    position: relative;
    z-index: 2;
  }

.nav-container {
    display: block;
    position: relative;
    height: 60px;

    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: white;
        }

        &.line-1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        &.line-2 {
            transition: transform 0.2s ease-in-out;
        }

        &.line-3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    .menu-items {
        padding-top: 120px;
        height: 100vh;
        width: 100%;
        background: $bg3;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        transition: transform 1s ease-in-out;
        text-align: left;

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            padding-left: 40px;
            font-size: 1.3rem;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    }
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;

    img {
        width: 120px;
    }
}

.nav-container {
	input[type="checkbox"] {
        
		&:checked~.menu-items {
			transform: translateX(0);
		}
		&:checked~.hamburger-lines {
            
			.line1 {
				transform: translateY(11px) scaleX(1.4) rotate(55deg);
                transition: transform 300ms ease-out ;
			}
			.line2 {
				transform: scaleY(0);
			}
			.line3 {
				transform: translateY(-11px) scaleX(1.4) rotate(-55deg);
                transition: transform 300ms ease-out;
			}
		}
		&:checked~.logo {
			display: none;
		}
	}
}