@import '../base/var.scss';

.hidden {
height: 0;
        overflow: hidden;
        margin: 0px !important;

}
.active {
    background: #94b8b8;
    color: $text !important;
    font-weight: 600;
}
.container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    background: $bg3;
}

.navbar {
    width: 100%;

    .menu-items {
        display: flex;
    }

    ul {

        li {
            display: flex;
            flex-wrap: wrap;
        }
        
        #first-child {
            justify-content: space-between !important;
        }

        a {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            border-radius: 5px;
        }



        img {
            transform: rotate(270deg);
        }

        a:link,
        a:visited {
            color: white;
            text-decoration: none;
            padding: 13px 20px;
        }

        a:active { 
            font-weight: 600;
            color: $text;
            background: #94b8b8;

            #dropdown-arrow {
                background-image: url(/assets/img/icons/arrow-green.svg) !important;
            
        }
    }
    }
}



#dropdown-arrow {
    width: 15px;
    height: 20px;
    background-image: url(/assets/img/icons/arrow-white.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    display: flex;
    
}

.rotate {
    transform: rotate(270deg) !important;
    background-image: url(/assets/img/icons/arrow-green.svg) !important;
}

// #checkbox-wrapper::after {
//     content: '';
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     z-index: 1;
// }

#checkbox-menu {
    position: relative;
    z-index: 2;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;

    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;

        .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: white;
        }

           .line-1 {
                margin-bottom: 8px;
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }
    
            .line-2 {
                transition: transform 0.2s ease-in-out;
            }
    
            .line-3 {
                margin-top: 8px;
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }

           
        }
    
        .nav-container {
            // input[type="checkbox"]
            .hamburger-lines {
        
                &.checked {
                    .line1 {
                        transform: translateY(11px) scaleX(1.4) rotate(55deg);
                        transition: transform 300ms ease-out;
                    }
        
                    .line2 {
                        transform: scaleY(0);
                    }
        
                    .line3 {
                        transform: translateY(-11px) scaleX(1.4) rotate(-55deg);
                        transition: transform 300ms ease-out;
                    }
                }
        
                &.checked~.menu-items {
                    transform: translateX(0);
                }
        
                // &.checked~.hamburger-lines {
        
                //     .line1 {
                //         transform: translateY(11px) scaleX(1.4) rotate(55deg);
                //         transition: transform 300ms ease-out;
                //     }
        
                //     .line2 {
                //         transform: scaleY(0);
                //     }
        
                //     .line3 {
                //         transform: translateY(-11px) scaleX(1.4) rotate(-55deg);
                //         transition: transform 300ms ease-out;
                //     }
                // }
        
            }
        }
        
    

    .menu-items {
        padding-top: 120px;
        height: 100vh;
        width: 100%;
        background: $bg3;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        transition: transform 1s ease-in-out;
        align-items: center;

        ul.main-menu {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        li {

            font-size: 1.4rem;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            border-radius: 5px;

            .submenu {

                margin-top: 10px;
                margin-bottom: 10px;


                li {
                    width: 100%;
            
                }
            
                .bullet {
                    background-image: url('/assets/img/icons/moulin-shape-white.svg');
                    background-size: 20px 20px;
                    width: 20px;
                    height: 20px;
                    margin: 010px;
                }


            
                // li::before {
                //     content: '';
                //     background-image: url('/assets/img/icons/moulin-shape-white.svg');
                //     background-size: 20px 20px;
                //     position: absolute;
                //     left: 55px;
                //     width: 20px;
                //     height: 20px;
                //     z-index: 1;
                // }
            
            
                a {
                    text-transform: none;
                    font-size: 1.2rem;    
                }
            
                a:link,
                a:visited {
                    padding: 10px, 20px;
                }
            
                a:active {
                    font-weight: 600;
                    .bullet {
                        background-image: url('/assets/img/icons/moulin-shape.svg');
                    }
                }
            
            }
        }
    }


.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;


    img {
        width: 120px;
    }
}

