  // légende

  // itinéraire
  // commentaire

.header-space {
    height: 60px;
    background: $bg3;
  }
  
  .title-box {
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid $route1;
  
    h3 {
      margin: 0px;
    }
  }
  
  .points-list {
    display: flex;
    height: calc(100vh - (300px));
    overflow: scroll;
  
    ol {
      list-style: none;
      counter-reset: item;
      margin: 50px 0;
    }
  
    li {
      counter-increment: item;
      margin-bottom: 5px;
      line-height: 2.8rem;
    }
  
    li:hover {
      opacity: 60%;
    }
  
    li:before {
      margin-right: 30px;
      content: counter(item);
      border-radius: 100%;
      color: $text;
      opacity: 50%;
      width: 1.2em;
      font-weight: 800;
      text-align: center;
      display: inline-block;
    }
  }
  
  .btn-wrapper-1 {
    width: 100%;
    margin-bottom: 20px;
    bottom: 0;
    justify-content: center;
  }

  .section {
z-index: -1;
  }

  .legend-page-wrapper {
    flex-direction: column;
    position: absolute;
    gap: 20px;
    top: 80px;
    left: 0;
    background: $bg1;
    height: calc(100vh - 80px);
    width: 380px;
    box-shadow: 4px 0px 29px -4px rgba(71,71,71,0.5);
  }

  .points-list {
    flex-direction: column;
  }

  .points-list ol {
    /* margin: 50px 0; */
    margin: 20px;
  }

  .map-container {
    height: 100vh;
  }


#weather
{
    display: flex;
    flex-direction: column;
    
}

#mapid1
{ 
    height: 100vh; 
    width: 100%;
    padding: 0;
    z-index: 0;
}

#mapid2
{ 
    height: 900px; 
    width: 30vh;
    padding: 10px;
}

.map2
{
    background-color: var(--colorX);
    font-family: 'Courier New', Courier, monospace;
    color: var(--colorZ);
    margin-left: 20px ;
    margin-top: 20px;
    height: 600px;
    width: 32vh;
    padding: 20px;
    border-radius: 3%;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
}

#mapid3
{ 
    height: 600px; 
    width: 30vh;
    padding: 10px;
}

.map3
{
    background-color: var(--colorX);
    font-family: 'Courier New', Courier, monospace;
    color: var(--colorZ);
    margin-left: 20px ;
    margin-top: 20px;
    height: 600px;
    width: 32vh;
    padding: 20px;
    border-radius: 3%;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
}

