@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '../base/var.scss';

body {
  margin: 0;
  font-family: "Open Sans";
}

button {
  border: none;
}

.menu {
  position: fixed;
  background: $bg3;
  color: $text;
  height: 80px;
  width: 100%;
  z-index: 2;
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.menu__logo {
  cursor: default;
  display: inline-flex;
  float: right;
  width: 8rem;
}

.menu__items {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
}

.menu__item {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1em;
  background: $bg3;
  color: $bg1;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.menu__item:nth-child(n+2) {
  margin-left: 5px;
}

.menu__item:hover {
  transition-duration: 0.1s;
  background: $bg4;
  color: $text;
}

.menu__item--register:hover {
  transition-duration: 0.1s;
  background: $text;
  color: $bg1;
}

.menu__item--small {
  width: 100px;
}

.menu__item--medium {
  width: 150px;
}

.menu__item--white {
  color: $text;
  background: $bg1;
  border: none;
}

.menu__item--green {
  color: $bg1;
  background: $text;
  border: none;
}

.menu__item--red {
  color: #fff;
  background: #f55;
  border: none;
}

.menu__item--dark {
  background: #33334c;
  color: #fff;
}

.menu__item--disabled {
  background: #aaa;
}

.menu__item--login {
  padding-right: 35px;
}

.menu__item--login:after {
  position: absolute;
  margin-left: 5px;
  margin-top: 0px;
  font-family: "Material Icons";
  content: "vpn_key";
}

.menu__item--register {
  padding-right: 35px;
}

.menu__item--register:after {
  margin-left: 5px;
  margin-top: 0px;
  position: absolute;
  font-family: "Material Icons";
  content: "lock";
}

.menu__dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  background: $bg3;
  padding: 10px;
  top: 80px;
  left: calc(50vw - 220px);
}

.menu__dropdown.show-dropdown {
  display: flex;
}

.menu__item.menu__item--sub {
  margin: 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5em;
  background: $bg3;
  color: $bg1;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.button--menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
}

@media screen and (max-width: 961px) {
  .menu__container {
    width: 90%;
  }

  .menu__item--login,
  .menu__item--register {
    height: 44px;
  }

  .menu__item--login span,
  .menu__item--register span {
    display: none;
  }

  .menu__item--login:after,
  .menu__item--register:after {
    margin-left: 0;
  }

  .menu__dropdown {
    left: calc(50vw - 150px);
  }
}

@media screen and (max-width: 768px) {
  .menu__items {
    display: none;
  }

  .button--menu {
    display: block;
  }

  .menuItemClicked {
    height: auto;
    padding: 25px 0 15px 0;
  }

  .menuItemClicked .menu__logo {
    display: none;
  }

  .menuItemClicked .menu__container,
  .menuItemClicked .menu__items {
    display: block;
  }

  .menuItemClicked .menu__container .menu__item {
    display: block;
    width: 90%;
    margin: 7px auto;
  }

  .menuItemClicked .menu__container .menu__item:first-child {
    margin-top: 40px;
  }

  .menuItemClicked .menu__container .menu__item span {
    display: inline-block;
  }

  .menuItemClicked .menu__container .menu__item:after {
    margin-left: 5px;
  }

  .menuItemClicked .menu__container .--menu:after {
    margin-left: 0;
  }

  .menu__dropdown {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: fit-content !important;
  }

  .menu__dropdown.show-dropdown .menu__item--sub {
    display: flex;
    width: 200px !important;
    margin: 0 !important;
    padding: 0 !important;

    justify-content: space-between;
    align-content: center;

    i {
      line-height: revert;
    }


    &:hover {
      background: $bg3 !important;
    }
  }

  .menu__dropdown.show-dropdown .menu__item--sub:hover {
    background: $bg3 !important;
  }

  .active {
    background: $bg4;
  }
}