<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/style-1.css">
    <link rel="stylesheet" href="/assets/css/main.css">


    <title>guide</title>
</head>

<body>
    <header>
        <div class="header-space"></div>
    </header>
    <div class="top-photo-2">
        <img src="/assets/img/itinéraire2/maritime-sm/Comte de Flandre-sm.jpeg" alt="">
    </div>
    <section class="guide">
        <div class="title-box-2">
            <h3>Compte de Flandre</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Sagittis id consectetur purus ut faucibus pulvinar elementum integer.</p>
        <div class="website">
            <img src="/assets/img/logos/www.svg" alt="">
            <a href="">https://www.stib-mivb.be/</a>
        </div>

    </section>
    <div class=
    "btn-wrapper"><button class="btn btn-dark">Retour à la carte</button></div>
</body>

</html>