<!DOCTYPE html>
<html lang="en">
	<head>
  
  		<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  		<!-- jQuery -->
  		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


		<!--Lien: Normalize, permet de supprimer le CSS pré-programmé-->
		<link rel="stylesheet" href="./assets/css/normalize.css" />
		<!--Lien: CSS-->
 		<link rel="stylesheet" href="/assets/css/style-1.css" />
 		<!--<link rel="stylesheet" href="./assets/css/style.css" />
		 <link rel="stylesheet" href="/assets/css/main.css">

  		<!--Leaflet.js -->
  		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

		

  		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

		<!--Lien  trace itinéraire-->

	</head>

	<body>    


			<section class="map1">        

			<h3>Parcours vélo (6,5km):</h3>

			<div id="mapid1" class="container-fluid"></div>

			

			<!--<div id="map" class="map"></div>-->

			<h4 class="title">Voici les différents points d'intérêts :</h4>

			<ol class="links">
				<!-- <span class="clickable" id="parcDuKarreveld"><li>Parc du Karreveld.</li></span>
				<span class="clickable" id="cimetiereDeMolenbeek"><li>Cimetière de Molenbeek.</li></span>
				<span class="clickable" id="quartierDiongre"><li>Quartier Diongre.</li></span>
				<span class="clickable" id="parcDuScheutbos"><li>Stade Edmond Machtens.</li></span>
				<span class="clickable" id="parcAlbertEtMarieJose"><li>Parcs des Muses.</li></span>
				<span class="clickable" id="parcDesMuses"><li>Parcs Albert & Marie-José.</li></span>
				<span class="clickable" id="stadeDeMolenbeek"><li>Parc du Scheutbos.</li></span> -->
			</ol>

			<script src="/assets/script/json1.js"></script>
			<script src="/assets/script/itinéraire1.js"></script>
			</section>
			

		</body>

   

</html>