<!DOCTYPE html>
<html lang="en">
	<head>
  
  		<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  		<!-- jQuery -->
  		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


		<!--Lien: Normalize, permet de supprimer le CSS pré-programmé-->
		<link rel="stylesheet" href="./assets/css/normalize.css" />
		<!--Lien: CSS-->
 		<link rel="stylesheet" href="./assets/css/style-1.css" />

  		<!--Leaflet.js -->
  		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

		

  		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

		<!--Lien  trace itinéraire-->


	</head>

	<body style="display: flex; flex-direction: row;">    


		<section class="map3">        

			<h3>Historique</h3>

			<div id="mapid"  class="mapid container-fluid"></div>

			<h2>Chateau du Karraveld</h2>
			<h4 class="title">Voici les différents points d'intérêts :</h4>

			
			<ol>
				<!-- <li>Karraveld</li> -->
			    <span class="clickable" id="chateaudukarreveld"><li>Château du Karreveld, Av. Jean de la Hoese 32, 1080 Molenbeek-Saint-Jean</li></span>
				<span class="clickable" id="sculpturedelagent"><li>Sculpture de l'agent</li></span>
				<span class="clickable" id="gareauxfantomes"><li>Gare aux fantomes</li></span>
				<span class="clickable" id="maisondescultures"><li>Maison des Cultures et de la Cohésion Sociale de Molenbeek, Rue Mommaerts 4, 1080 Bruxelles</li></span>
				<span class="clickable" id="eglisebaptiste"><li>L'église St-Baptiste </li></span>
				<span class="clickable" id="maisoncommunale"><li>Maison communale</li></span>
				<span class="clickable" id="fonderie"><li>La Fonderie asbl, Rue Ransfort 27, 1080 Molenbeek-Saint-Jean</li></span>
			</ol>

			<section>
				<div>
					<img src="./assets/img/itinéraire3/photo2.JPG" width="100%" height="50%" alt="">
					
				</div>
			</section>

		</section>
		<!-- ---------------------- -->
		<!-- <section class="map3">        


			<div id="mapid1"  class="mapid container-fluid"></div>


			<h4 class="title">Voici les différents points d'intérêts :</h4>

			<section>
				<div>
					<img src="./assets/img/itinéraire3/flic.JPG" width="100%" height="50%" alt="">
					<h2>Vaartkapoen</h2>
				</div>
			</section>
			<ol>
				<li>Sculpture de l'argent </li>
				<li>Gare aux fantomes</li>
				<li>La Fonderie asbl, Rue Ransfort 27, 1080 Molenbeek-Saint-Jean</li>
				<li>Maison des Cultures et de la Cohésion Sociale de Molenbeek, Rue Mommaerts 4, 1080 Bruxelles</li>
				<li>Château du Karreveld, Av. Jean de la Hoese 32, 1080 Molenbeek-Saint-Jean></li>
				<li>L'église St-Jérémie </li>
				<li>xxxxxxxxxxxxxxxxxxxxxxx</li>
			</ol>

		</section> -->
<!--------------------------------------------------->

		<!-- <section class="map3">        


			<div id="mapid"  class="mapid container-fluid"></div>


			<h4 class="title">Voici les différents points d'intérêts :</h4>

			<section>
				<div>
					<img src="./assets/img/itinéraire3/photo12.JPG" width="100%" height="50%" alt="">
					<h2>Itinèraire</h2>
				</div>
			</section>
			<ol>
				<li>Gare aux fautomes</li>
				<li>Gare aux fantomes</li>
				<li>La Fonderie asbl, Rue Ransfort 27, 1080 Molenbeek-Saint-Jean</li>
				<li>Maison des Cultures et de la Cohésion Sociale de Molenbeek, Rue Mommaerts 4, 1080 Bruxelles</li>
				<li>Château du Karreveld, Av. Jean de la Hoese 32, 1080 Molenbeek-Saint-Jean></li>
				<li>L'église St-Jérémie </li>
				<li>xxxxxxxxxxxxxxxxxxxxxxx</li>
			</ol>

		</section> -->
<!------------------------------------------------->

<!-- <section class="map3">        

	<h3>Culturelle</h3>

	<div id="mapid"  class="mapid container-fluid"></div>


	<h4 class="title">Voici les différents points d'intérêts :</h4>

	<section>
		<div>
			<img src="./assets/img/itinéraire3/asbl.JPG" width="100%" height="50%" alt="">
			<h2>Maison Culturelle</h2>
		</div>
	</section>
	<ol>
		<li>ASBL</li>
	</ol>

</section> -->

        <script src="/assets/script/itinéraire3.js"></script>
	</body>

</html>