<!DOCTYPE html>
<html lang="en">
	<head>
  
  		<meta http-equiv="Content-Type"  content="text/html; charset=utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  		<!-- jQuery -->
  		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


		<!--Lien: Normalize, permet de supprimer le CSS pré-programmé-->
		<link rel="stylesheet" href="./assets/css/normalize.css" />
		<!--Lien: CSS-->
 		<link rel="stylesheet" href="/assets/css/style-1.css" />

  		<!--Leaflet.js -->
  		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

		

  		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

		<!--Lien  trace itinéraire-->


	 </head>

	 <body>    



		<section class="map2">        

			<h3>Promenade maritime </h3>

			<div id="mapid" class="container-fluid"></div>

			

			<h4 class="title">Voici les différents points d'intérêts :</h4>

			<ol>
				<li>Station métro Comte de Flandre</li>
				<li>Administration communale</li>
				<li>La flamme de l'espoir</li>
				<li>Place communale</li>
				<li>Rue Fin</li>
				<li>La Fonderie</li>
				<li>Parc de la Fonderie</li>
				<li>Belmundo / Hôtel BELVUE</li>
				<li>Mima</li>
				<li>Atelier Groot Eiland</li>
				<li>Le Phare du Canal</li>
				<li>C'est si bon</li>
				<li>Le Chien du Chien / Les Tissus du Chien Vert</li>
				<li>De Vaartkapoen</li>
				<li>Monument aux Promoteurs des Installations Maritimes</li>
				<li>Foyer</li>
				<li>Musée de la Migration (MMM)</li>
				<li>Eglise St Jean-Baptiste</li>
				<li>Académie de Dessin et des Arts Visuels</li>
				<li>Maison des Cultures et de la Cohésion Sociale</li>
				<li>Panaderia Bakery</li>
				<li>Parc Bonnevie</li>
				<li>Place de la Minoterie</li>
			</ol>

		</section>

        <script src="/assets/script/itinéraire2.js"></script>

	</body>
</html>