<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/style-1.css">
    <link rel="stylesheet" href="/assets/css/main.css">


    <title>Itin2</title>
</head>

<body>
    <div id="title-box">
        <h3>
            Molenbeek maritime
        </h3>
    </div>
    <section class="points-list">
        <ol>
            <span class="clickable" id="stationMetroComteDeFlandre"><li>Station métro Comte de Flandre</li></span>
            <span class="clickable" id="administrationCommunale"><li>Administration communale</li></span>
            <span class="clickable" id="laFlammeDeLespoir"><li>La flamme de l'espoir</li></span>
            <span class="clickable" id="placeCommunale"><li>Place communale</li></span>
            <span class="clickable" id="rueFin"><li>Rue Fin</li></span>
            <span class="clickable" id="laFonderie"><li>La Fonderie</li></span>
            <span class="clickable" id="parcDeLaFonderie"><li>Parc de la Fonderie</li></span>
            <span class="clickable" id="belmundoHotelBelvue"><li>Belmundo / Hôtel BELVUE</li></span>
            <span class="clickable" id="mima"><li>Mima</li></span>
            <span class="clickable" id="atelierGrootEiland"><li>Atelier Groot Eiland</li></span>
        </ol>
        <div class="btn-wrapper"><button class="btn btn-dark">Retour à la carte</button></div>
    </section>
</body>

</html>