<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/main.css">
     <link rel="stylesheet" href="/assets/css/style-1.css">
     <link rel="stylesheet" href="/assets/css/main.css">


    <title>Itinéraire3</title>
</head>
<body>
   <div id="title-box">
        <h3>
            Molenbeek historisque
        </h3>
    </div>
    <section class="points-list">
    <ol>
			 <span class="clickable" id="chateaudukarreveld"><li>Château du Karreveld, Av. Jean de la Hoese 32, 1080 Molenbeek-Saint-Jean</li></span>
				<span class="clickable" id="sculpturedelagent"><li>Sculpture de l'agent</li></span>
				<span class="clickable" id="gareauxfantomes"><li>Gare aux fantomes</li></span>
				<span class="clickable" id="maisondescultures"><li>Maison des Cultures et de la Cohésion Sociale de Molenbeek, Rue Mommaerts 4, 1080 Bruxelles</li></span>
				<span class="clickable" id="eglisebaptiste"><li>L'église St-Baptiste </li></span>
				<span class="clickable" id="maisoncommunale"><li>Maison communale</li></span>
				<span class="clickable" id="fonderie"><li>La Fonderie asbl, Rue Ransfort 27, 1080 Molenbeek-Saint-Jean</li></span>

			</ol>
           </ol>
        <div class="btn-wrapper-1"><button class="btn btn-dark">Retour à la carte</button></div>
    </section>   
    
</body>
</html>