<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/modules/menu-BEM.css">
	<!-- <script src="/assets/script/header.js" defer></script> -->
    <script src="/assets/script/menu-BEM.js" defer></script>
    <!-- icônes fontawesome -->
    <script src="https://kit.fontawesome.com/f64cbb42a1.js" crossorigin="anonymous"></script>

</head>
<body>
    

<div class="menu">
  <div class="menu__container">
    <a class="menu__logo">
        <img src="/assets/img/logos/logo-uni.svg" alt="logo">
    </a>
    <div class="menu__items">
      <a class="item"><i class="fa-solid fa-house"></i></a>
      <a class="item">Itinéraires</a>
      <a class="item">Projet</a>
      <a class="item">Galerie</a>
      <a class="item item--active">Contact</a>
    </div>
    <div class="menu__items">
      <a class="item item--login"> <span>Se connecter</span></a>
      <a class="item item--white item--register"> <span>Enregistrer</span></a>
    </div>
    <button class="button button--menu"><i class="fa-solid fa-bars"></i></button>
  </div>
</div>

</body>
</html>