<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/script/header.js" defer></script>
    <script src="/assets/script/footer.js" defer></script>
    <title>Document</title>
</head>

<body>
    <header class="global-header">
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <!-- <input class="checkbox" type="checkbox" name="" id="" /> -->
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <img src="assets/img/logos/logo-uni.svg" alt="logo">
                    </div>
                    <div class="menu-items right">
                        <ul class="main-menu">
                            <li><a id="first-child" href="#">Les Itinéraires<div id="dropdown-arrow">
                                    </div>
                                </a>

                                <ul class="submenu hidden">
                                    <li><a href="/views/itin1.html">
                                            <div class="bullet"></div>Molenbeek Maritime
                                        </a></li>
                                    <li><a href="/views/itin2.html">
                                            <div class="bullet"></div>Molenbeek en Vélo
                                        </a></li>
                                    <li><a href="/views/itin3.html">
                                            <div class="bullet"></div>Molenbeek Historique
                                        </a></li>
                                </ul>
                            </li>

                            <li><a href="/views/contact.html">Contact</a></li>
                            <li><a href="/views/projet.html">Le Projet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="page-wrapper">
        <div class="top-photo">
            <img src="/assets/img/itinéraire-maritime/maritime-lg/cyclist.jpg" alt="cycliste">
        </div>
        <section>
            <h2>Le Projet</h2>
            <h3>Retour aux sources</h3>

            <p>Il existe un Molenbeek que vous ne connaissez pas : une commune verte, créative, accueillante, diverse,
                sympathique… Venez faire une promenade guidée, selon nos itinéraires proposés et laissez-vous vous
                surprendre. De nos jours, c’est une commune principalement résidentielle composée de plusieurs quartiers
                historiquement et architecturelement distincts.</p>

            <p>Des Moulins à vent multicolores le long du Quai des Charbonnages au siège historique de la brasserie
                Bellevue, c’est toute l’histoire du développement de la ville qui s’expose.</p>

            <h3>Qui sommes nous ?</h3>

            <p>Nous sommes Victoria, Chris et Ellie – trois étudiantes du développement web frontend à Interface3, un
                centre
                de formation situé à Schaerbeek.</p>

            <h3>Langages de programmation et logiciels</h3>

            <p>Dans le cadre de ce projet, qui propose une série d’itinéraires de promenade interactives, nous
                utiliserons
                diverses technologies, notamment HTML, CSS, JavaScript et PHP, ainsi que les logiciels de cartographie
                <a href="https://leafletjs.com/" target="_blank">Leaflet</a> et <a href="https://www.openstreetmap.org"
                    target="_blank">OpenStreetMap</a>. Nous avons conçu cette maquette à l’aide d’Adobe XD, et créé des
                graphiques avec
                Adobe Illustrator.
            </p>
        </section>
    </div>
    <footer>
        <div id="footer-top">
            <img src="/assets/img/logos/logo-col.svg" alt="logo" id="logo-footer">
            <a href="#" id="haut">
                <p>Haut de page</p>
                <img src="/assets/img/icons/arrow-up-1.svg" alt="flèche vers le haut">
            </a>
        </div>
        <div id="footer-middle">
            <div id="footer-contact">
                <div>
                    <address>
                        Interface3 | Rue Gaucheret 88-90 | 1030 Bruxelles
                    </address>
                    <a href="tel:+32 (0)2 219 15 10">+32 (0)2 219 15 10</a>
                </div>
                <div id="footer-copyright">
                    <p>© Christel Rodriguez Perez Nasra Ahmed Ibrahim | Eleanor Mears, 2022</p>
                </div>
            </div>

            <div id="footer-bottom">
                <div id="social">
                    <a href="#"><img src="/assets/img/icons/icon-insta.svg" alt="Instagram"></a>
                    <a href="#"><img src="/assets/img/icons/icon-fb.svg" alt="Facebook"></a>
                    <a href="#"><img src="/assets/img/icons/icon-twitter.svg" alt="Twitter"></a>
                    <a href="#"><img src="/assets/img/icons/icon-linkedin.svg" alt="Linkedin"></a>
                </div>
                <ul id="footer-links">
                    <li>
                        <a href="#">Vie privée</a>
                    </li>
                    <li>
                        <a href="#">Conditions générales d’utilisation
                        </a>
                    </li>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                    <li>
                        <a href="#">Transparence et Légal
                        </a>
                    </li>
                </ul>
            </div>
    </footer>
</body>

</html>