<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/modules/slider.css">


    <title>Cards</title>
</head>

<body> 
    <div class="cards-wrapper">


        <div class="slider">


            <div class="card-item">
                <div class="thumb">
                    <!--image here -->
                </div>
                <div class="description">
                    <h3>Molenbeek maritime</h3>
                    <div>Autrefois centre de l’industrie lourde, le quartier du canal est aujourd’hui un quartier
                        dynamique, créatif et durable.</div>
                    <div class="filter">
                        <img src="/assets/img/icons/icon-stopwatch.svg" alt="horloge"><p class="route-info" id="info-1">1 heure 30 minutes</p>
                        <img src="/assets/img/icons/icon-distance.svg" alt="horloge"><p class="route-info" id="info-2">5 km</p>
                        <img src="/assets/img/icons/icon-personne.svg" alt="horloge"><p class="route-info" id="info-3">Familles, personnes à mobilité reduite</p>
                    </div>
                    <div class="btn-wrapper-card"><button class="btn btn-light">Itineraire</button></div>
                </div>
            </div>

            <button class="arrow arrow-next"></button>
            <button class="arrow arrow-prev"></button>
        </div>


    </div>
</body>

</html>