<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/modules/slider.css">
    <script src="/assets/script/slider.js" defer></script>

    <title>Slider</title>
</head>

<!--TODO Change photos and card text -->
<body>
    <div class="cards-wrapper">

        <div class="slider">

            <div class="slide slide-1">

                <div class="card-item">
                    <div class="thumb thumb-1">
                        <!--image here -->
                    </div>
                    <div class="description description-1">
                        <h3>Molenbeek maritime</h3>
                        <div>Autrefois centre de l’industrie lourde, le quartier du canal est aujourd’hui un quartier
                            dynamique, créatif et durable.</div>
                        <div class="filter">
                            <img src="/assets/img/icons/icon-stopwatch.svg" alt="horloge">
                            <p class="route-info" id="info-1">1 heure 30 minutes</p>
                            <img src="/assets/img/icons/icon-distance.svg" alt="horloge">
                            <p class="route-info" id="info-2">5 km</p>
                            <img src="/assets/img/icons/icon-personne.svg" alt="horloge">
                            <p class="route-info" id="info-3">Familles, personnes à mobilité reduite</p>
                        </div>
                        <div class="btn-wrapper-card"><button class="btn btn-light">Itineraire</button></div>
                    </div>
                </div>

            </div>

            <div class="slide slide-2">
                <div id="card-item-1" class="card-item">
                    <div class="thumb thumb-2">
                        <!--image here -->
                    </div>
                    <div class="description description-2">
                        <h3>Molenbeek en vélo</h3>
                        <div>Autrefois centre de l’industrie lourde, le quartier du canal est aujourd’hui un quartier
                            dynamique, créatif et durable.</div>
                        <div class="filter">
                            <img src="/assets/img/icons/icon-stopwatch.svg" alt="horloge">
                            <p class="route-info" id="info-1">1 heure 30 minutes</p>
                            <img src="/assets/img/icons/icon-distance.svg" alt="horloge">
                            <p class="route-info" id="info-2">5 km</p>
                            <img src="/assets/img/icons/icon-personne.svg" alt="horloge">
                            <p class="route-info" id="info-3">Familles, personnes à mobilité reduite</p>
                        </div>
                        <div class="btn-wrapper-card"><button class="btn btn-light">Itineraire</button></div>
                    </div>
                </div>
            </div>

            <div class="slide slide-3">
                <div class="card-item">
                    <div class="thumb thumb-3">
                        <!--image here -->
                    </div>
                    <div class="description description-3">
                        <h3>Molenbeek historique</h3>
                        <div>Autrefois centre de l’industrie lourde, le quartier du canal est aujourd’hui un quartier
                            dynamique, créatif et durable.</div>
                        <div class="filter">
                            <img src="/assets/img/icons/icon-stopwatch.svg" alt="horloge">
                            <p class="route-info" id="info-1">1 heure 30 minutes</p>
                            <img src="/assets/img/icons/icon-distance.svg" alt="horloge">
                            <p class="route-info" id="info-2">5 km</p>
                            <img src="/assets/img/icons/icon-personne.svg" alt="horloge">
                            <p class="route-info" id="info-3">Familles, personnes à mobilité reduite</p>
                        </div>
                        <div class="btn-wrapper-card"><button class="btn btn-light">Itineraire</button></div>
                    </div>
                </div>
            </div>

            <div class="arrow arrow-next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <path id="Path_274" data-name="Path 274" d="M19,4,16.356,6.644,26.819,17.125H4v3.75H26.819L16.356,31.356,19,34,34,19Z" transform="translate(-4 -4)"/>
              </svg>
            </div>
            <div class="arrow arrow-prev"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <path id="Path_274" data-name="Path 274" d="M19,4l2.644,2.644L11.181,17.125H34v3.75H11.181L21.644,31.356,19,34,4,19Z" transform="translate(-4 -4)"/>
              </svg>
            </div>
        </div>


    </div>
</body>

</html>