<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="assets/css/modules/slider.css">

    
    <title>Cards</title>
</head>

<body>
    <div class="container">
        <ul class="card-list">
            <li class="card-item">
                <a href="#" class="d-flex flex-column h-100">
                    <div class="thumb"> 
                        <!--image here -->
                    </div>
                    <div class="description">
                        <h3>Molenbeek maritime</h3>
                        <div>Autrefois centre de l’industrie lourde, le quartier du canal est aujourd’hui un quartier dynamique, créatif et durable.</div>
                        <div class="filter d-flex">
                            <p class="route-info" id="info-1">1 heure 30 minutes</p>
                            <p class="route-info" id="info-2">5 km</p>
                            <p class="route-info" id="info-3">Familles, personnes à mobilité reduite</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="#" class="d-flex flex-column h-100">
                    <div class="thumb">
                    </div>
                    <div class="description">
                        <div>Ex Lorem commodo nulla aliqua occaecat ut.</div>
                        <div class="filter">theme 2</div>
                    </div>
                </a>
            </li>

            <li class="card-item">
                <a href="#" class="d-flex flex-column h-100">
                    <div class="thumb">
                    </div>
                    <div class="description">
                        <div>Pariatur sit eu quis pariatur irure cillum aliquip sunt.</div>
                        <div class="filter">theme 3</div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</body>

</html>