@import '../base/var.scss';

body {
    background-color: $bg1;
    font-size: 16px;
    line-height: 1.6;
    font-family: $font-main;
    color: $text;
}

h1 {
    font-size: 52px;
    line-height: 45px;
    margin: 0 0 10px 0;
    font-weight: 500;
    
}

h2 {
    font-size: 30px;
    line-height: 1.5;
    margin: 10px 0;
}

h3 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 10px 0;
    font-family: $font-titles;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    min-width: 100%;
}

div {
    display: flex;
}

a {
    text-decoration: none;
}

// home

#intro {
    padding: $padding-section;

    #intro-title, #intro-text {
        flex-wrap: wrap;
    }

    #intro-title {
        img {
            z-index: 1;
        }
    }
}

.btn-wrapper {
    justify-content: center;
    padding: 20px 0;
}

#intro-img {
    width: 100%;
    transform:scale(1.15);
    z-index: 0;
    margin-bottom: 20px;
}
