.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

<<<<<<< HEAD
footer {
  padding: 30px 40px 50px 40px;
  border-top: solid #033333 2px;
}
footer a:link,
footer a:visited {
  color: #033333;
  text-decoration: none;
=======
@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */
  footer {
    padding: 30px 40px 50px 40px;
    border-top: solid #033333 2px;
  }
  footer a:link,
footer a:visited {
    color: #033333;
    text-decoration: none;
  }
  footer a:hover, footer a:active {
    opacity: 60%;
  }
  #footer-top {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer-top p {
    margin: 0;
  }
  #footer-top img:first-child {
    min-width: 120px;
    width: 150px;
    padding-top: 10px;
  }
  #footer-top img:first-child:hover, #footer-top img:first-child:active {
    opacity: 60%;
  }
  #footer-top #haut {
    display: inline-flex;
    gap: 10px;
    align-items: center;
  }
  #footer-top #haut img {
    min-width: 15px;
    width: 15px;
  }
  #footer-middle {
    flex-direction: column;
  }
  #footer-middle #footer-contact {
    flex-direction: column;
    grid-row-gap: 20px;
    padding: 30px 0;
    border-bottom: solid #033333 1px;
  }
  #footer-middle #footer-contact div {
    flex-direction: column;
  }
  #footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  #footer-bottom #social {
    flex-direction: row;
    margin: 40px 0 0 0;
    gap: 20px;
    align-items: center;
  }
  #footer-bottom #social img {
    height: 25px;
  }
  #footer-bottom ul {
    margin: 40px 0 30px 0;
    text-align: center;
  }
>>>>>>> origin/ellie
}
footer a:hover, footer a:active {
  opacity: 60%;
}

#footer-top {
  flex-direction: row;
  justify-content: space-between;
}
#footer-top p {
  margin: 0;
}
#footer-top img:first-child {
  min-width: 120px;
  width: 150px;
  padding-top: 10px;
}
#footer-top img:first-child:hover, #footer-top img:first-child:active {
  opacity: 60%;
}
#footer-top #haut {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
#footer-top #haut img {
  min-width: 15px;
  width: 15px;
}

#footer-middle {
  flex-direction: column;
}
#footer-middle #footer-contact {
  flex-direction: column;
  grid-row-gap: 20px;
  padding: 30px 0;
  border-bottom: solid #033333 1px;
}
#footer-middle #footer-contact div {
  flex-direction: column;
}

#footer-bottom {
  flex-direction: column;
  align-items: center;
}
#footer-bottom #social {
  flex-direction: row;
  margin: 40px 0 0 0;
  gap: 20px;
  align-items: center;
}
#footer-bottom #social img {
  height: 25px;
}
#footer-bottom ul {
  margin: 40px 0 30px 0;
  text-align: center;
}

/*# sourceMappingURL=footer.css.map */
