@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* font-family: 'Poppins', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* POPPINS */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* SHADOWS INTO LIGHT */
/* latin */
@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v15/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD55TecYQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn--small {
  padding: 5px 10px;
}

.btn--dark {
  background: #033333;
  color: white;
}
.btn--dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn--dark:active {
  background: #0aabab;
}

.btn--light {
  background: white;
  color: #033333;
}
.btn--light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn--light:active {
  background: #bfbfbf;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

button {
  border: none;
}

.menu {
  position: fixed;
  background: #669999;
  color: #033333;
  height: 80px;
  width: 100%;
  z-index: 2;
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.menu__logo {
  cursor: default;
  display: inline-flex;
  float: right;
  width: 8rem;
}

.menu__items {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
}

.menu__item {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1em;
  background: #669999;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.menu__item:nth-child(n+2) {
  margin-left: 5px;
}

.menu__item:hover {
  transition-duration: 0.1s;
  background: #94b8b8;
  color: #033333;
}

.menu__item--register:hover {
  transition-duration: 0.1s;
  background: #033333;
  color: #FFFFFF;
}

.menu__item--small {
  width: 100px;
}

.menu__item--medium {
  width: 150px;
}

.menu__item--white {
  color: #033333;
  background: #FFFFFF;
  border: none;
}

.menu__item--green {
  color: #FFFFFF;
  background: #033333;
  border: none;
}

.menu__item--red {
  color: #fff;
  background: #f55;
  border: none;
}

.menu__item--dark {
  background: #33334c;
  color: #fff;
}

.menu__item--disabled {
  background: #aaa;
}

.menu__item--login {
  padding-right: 35px;
}

.menu__item--login:after {
  position: absolute;
  margin-left: 5px;
  margin-top: 0px;
  font-family: "Material Icons";
  content: "vpn_key";
}

.menu__item--register {
  padding-right: 35px;
}

.menu__item--register:after {
  margin-left: 5px;
  margin-top: 0px;
  position: absolute;
  font-family: "Material Icons";
  content: "lock";
}

.menu__dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  background: #669999;
  padding: 10px;
  top: 80px;
  left: calc(50vw - 220px);
}

.menu__dropdown.show-dropdown {
  display: flex;
}

.menu__item.menu__item--sub {
  margin: 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5em;
  background: #669999;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.button--menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
}

@media screen and (max-width: 961px) {
  .menu__container {
    width: 90%;
  }
  .menu__item--login,
.menu__item--register {
    height: 44px;
  }
  .menu__item--login span,
.menu__item--register span {
    display: none;
  }
  .menu__item--login:after,
.menu__item--register:after {
    margin-left: 0;
  }
  .menu__dropdown {
    left: calc(50vw - 150px);
  }
}
@media screen and (max-width: 768px) {
  .menu__items {
    display: none;
  }
  .button--menu {
    display: block;
  }
  .menuItemClicked {
    height: auto;
    padding: 25px 0 15px 0;
  }
  .menuItemClicked .menu__logo {
    display: none;
  }
  .menuItemClicked .menu__container,
.menuItemClicked .menu__items {
    display: block;
  }
  .menuItemClicked .menu__container .menu__item {
    display: block;
    width: 90%;
    margin: 7px auto;
  }
  .menuItemClicked .menu__container .menu__item:first-child {
    margin-top: 40px;
  }
  .menuItemClicked .menu__container .menu__item span {
    display: inline-block;
  }
  .menuItemClicked .menu__container .menu__item:after {
    margin-left: 5px;
  }
  .menuItemClicked .menu__container .--menu:after {
    margin-left: 0;
  }
  .menu__dropdown {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: fit-content !important;
  }
  .menu__dropdown.show-dropdown .menu__item--sub {
    display: flex;
    width: 200px !important;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: space-between;
    align-content: center;
  }
  .menu__dropdown.show-dropdown .menu__item--sub i {
    line-height: revert;
  }
  .menu__dropdown.show-dropdown .menu__item--sub:hover {
    background: #669999 !important;
  }
  .menu__dropdown.show-dropdown .menu__item--sub:hover {
    background: #669999 !important;
  }
  .active {
    background: #94b8b8;
  }
}

/*# sourceMappingURL=header.css.map */
