@charset "UTF-8";
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

<<<<<<< HEAD
.cards-wrapper {
  overflow: hidden;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 700px;
  position: relative;
  background: #BBE8EF;
  display: grid;
  place-items: center;
=======
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .cards-wrapper {
    overflow: hidden;
    background: #bbe8ef;
  }
  .slider {
    width: 100%;
    max-width: 1000px;
    height: 700px;
    position: relative;
    display: grid;
    place-items: center;
  }
  .slide {
    width: 85vw;
    position: absolute;
    transition: all 0.5s;
    justify-content: center;
  }
  .card-item {
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    width: 80vw;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card-item .thumb {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 230px;
    z-index: 0;
  }
  .card-item .thumb.thumb-1 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/canal-soir-sm.jpeg");
  }
  .card-item .thumb.thumb-2 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/fleurs-sm.jpeg");
  }
  .card-item .thumb.thumb-3 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/De_Vaartkapoen-sm.jpeg");
  }
  .card-item .description {
    max-width: 100%;
    padding: 20px 20px 30px 20px;
    background: #003366;
    font-size: 14px;
    color: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-item .description.description-1 {
    background: #003366;
  }
  .card-item .description.description-2 {
    background: #006600;
  }
  .card-item .description.description-3 {
    background: #A64253;
  }
  .card-item .description h3 {
    width: 100%;
    text-align: center;
  }
  .filter {
    margin: 15px 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    font-weight: 300;
  }
  .filter p {
    padding: 0;
    margin: 0;
  }
  .filter img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .btn-wrapper-card {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .loaded {
    opacity: 1;
  }
  .arrow-prev {
    left: 0;
    padding: 0 2vw 0 1vw;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .arrow-next {
    right: 0;
    padding: 0 1vw 0 2vw;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .arrow {
    height: 100%;
    position: absolute;
    align-items: center;
  }
  .arrow:active {
    transform: scale(1.1);
  }
  .arrow svg {
    opacity: 1;
    transition: opacity 0.9s;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
  }
  .arrow svg.pale {
    opacity: 0.2;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .slide {
    width: 360px;
  }
  .card-item .description {
    padding: 20px 30px 30px 30px;
  }
  .arrow-prev {
    padding: 0 2vw 0 calc(38vw - 140px);
  }
  .arrow-next {
    padding: 0 calc(38vw - 140px) 0 2vw;
  }
>>>>>>> origin/ellie
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .slide {
    width: 400px;
  }
  .arrow-prev {
    padding: 0 2vw 0 calc(45vw - 170px);
  }
  .arrow-next {
    padding: 0 calc(45vw - 170px) 0 2vw;
  }
  .card-item {
    margin: 20px 25px;
  }
}
@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .slider {
    padding: 0 10vw 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  .slide {
    width: 300px;
    position: relative;
  }
  .card-item {
    margin: 0px;
  }
  .arrow {
    display: none;
  }
  .cards-wrapper {
    justify-content: center;
  }
}
<<<<<<< HEAD
.card-item .thumb {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 230px;
  z-index: 0;
}
.card-item .thumb.thumb-1 {
  background-image: url("/assets/img/itinéraire-maritime/maritime-sm/canal-soir-sm.jpeg");
}
.card-item .thumb.thumb-2 {
  background-image: url("/assets/img/itinéraire-maritime/maritime-sm/fleurs-sm.jpeg");
}
.card-item .thumb.thumb-3 {
  background-image: url("/assets/img/itinéraire-maritime/maritime-sm/De_Vaartkapoen-sm.jpeg");
}
.card-item .description {
  max-width: 100%;
  padding: 20px 20px 30px 20px;
  background: #003366;
  font-size: 14px;
  color: #FFFFFF;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card-item .description.description-1 {
  background: #003366;
}
.card-item .description.description-2 {
  background: #006600;
}
.card-item .description.description-3 {
  background: #A64253;
}
.card-item .description h3 {
  width: 100%;
  text-align: center;
}

.filter {
  margin: 15px 5px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(3);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  font-weight: 300;
}
.filter p {
  padding: 0;
  margin: 0;
}
.filter img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.btn-wrapper-card {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loaded {
  opacity: 1;
}

.arrow-prev {
  left: 0;
  padding: 0 2vw 0 1vw;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.arrow-next {
  right: 0;
  padding: 0 1vw 0 2vw;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
=======
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  .slider {
    grid-column-gap: 20px;
    padding: 0 50px 10vw;
  }
>>>>>>> origin/ellie
}

.arrow {
  height: 100%;
  position: absolute;
  align-items: center;
}
.arrow:active {
  transform: scale(1.1);
}

.arrow svg {
  opacity: 1;
  transition: opacity 0.9s;
}
.arrow svg.pale {
  opacity: 0.2;
}

/*# sourceMappingURL=slider.css.map */
