@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* POPPINS */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* SHADOWS INTO LIGHT */
/* latin */
@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shadowsintolight/v15/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD55TecYQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* smartphones, iPhone, portrait 480x320 phones */
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

.hidden {
  display: none;
}

body {
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: #033333;
}

h1 {
  font-size: 52px;
  line-height: 45px;
  margin: 0 0 10px 0;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  line-height: 1.5;
  margin: 10px 0;
}

h3 {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 0 10px 0;
  font-family: "Shadows Into Light", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  min-width: 100%;
}

div {
  display: flex;
}

a {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

address {
  text-decoration: none;
  font-style: inherit;
}

p {
  margin: 10px 0;
}

#intro {
  padding: 20px 40px;
}
#intro #intro-title,
#intro #intro-text {
  flex-wrap: wrap;
  width: 100%;
}
#intro #wrapper {
  flex-direction: column;
}
#intro .btn-wrapper {
  justify-content: center;
  padding: 20px 0;
}
#intro #intro-img {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#intro #intro-img img {
  flex-wrap: wrap;
}

.top-photo {
  height: 400px;
}
.top-photo img {
  object-fit: cover;
}

.top-photo ~ section {
  padding: 20px 40px;
}
.top-photo ~ section a {
  text-decoration: underline;
  font-weight: 600;
}
.top-photo ~ section a:hover, .top-photo ~ section a:active {
  opacity: 60%;
}
.top-photo ~ section a:visited {
  opacity: 80%;
}

.header-space {
  height: 60px;
  background: #669999;
}

.title-box {
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #003366;
}
.title-box h3 {
  margin: 0px;
}

.points-list {
  display: flex;
  height: calc(100vh - 240px);
  overflow: scroll;
}
.points-list ol {
  list-style: none;
  counter-reset: item;
  margin: 50px 0;
}
.points-list li {
  counter-increment: item;
  margin-bottom: 5px;
  line-height: 2.8rem;
}
.points-list li:hover {
  opacity: 60%;
}
.points-list li:before {
  margin-right: 30px;
  content: counter(item);
  border-radius: 100%;
  color: #033333;
  opacity: 50%;
  width: 1.2em;
  font-weight: 800;
  text-align: center;
  display: inline-block;
}

.btn-wrapper-1 {
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  bottom: 0;
}

.top-photo-2 {
  height: 37vh;
  border-bottom: 5px solid #003366;
}
.top-photo-2 img {
  object-fit: cover;
}

.title-box-2 {
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.title-box-2 h3 {
  margin: 0px;
}

section.guide {
  padding: 20px 40px;
}
section.guide .website {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  width: 300px;
  margin: 20px 0;
}
section.guide .website img {
  min-width: 30px;
  width: 30px;
}
section.guide .website a {
  color: #669999;
}
section.guide .website a:hover, section.guide .website a:active {
  color: #033333;
  opacity: 80%;
}

#contact {
  padding: 20px 40px;
}
#contact a:hover,
#contact a:active {
  opacity: 60%;
}
#contact p {
  margin: 10px 0;
}

#contact-box {
  flex-direction: column;
  align-items: center;
}
#contact-box #contact-details {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
#contact-box #contact-details img {
  max-width: 100%;
}

#social-media {
  flex-direction: column;
}
#social-media a {
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-column-gap: 10px;
  margin: 10px 0;
}
#social-media a img {
  max-width: 100%;
  height: 25px;
}

#liens-utiles {
  flex-direction: column;
}
#liens-utiles li {
  list-style: none;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-column-gap: 15px;
}
#liens-utiles li img {
  max-width: 100%;
  height: 15px;
  padding-top: 7px;
}
#liens-utiles li a:hover, #liens-utiles li a:active {
  opacity: 60%;
  font-weight: 600;
  text-decoration: underline;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  h3 {
    font-size: 30px;
  }
  #intro {
    /* padding: 20px 40px; */
    padding: 5vw 40px;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  #intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 1fr 1fr auto;
    padding: 50px 0;
  }
  #intro #intro-title {
    grid-area: 1/1/2/2;
    position: relative;
    z-index: 1;
    width: 40vw;
    left: calc(20vw - 50px);
    min-width: 50%;
    margin: auto;
  }
  #intro #intro-text {
    grid-area: 3/1/4/3;
    width: 100%;
    padding-left: 80px;
  }
  #intro #intro-img {
    grid-area: 1/2/3/4;
    right: 80px;
    position: relative;
    z-index: 0;
  }
  #intro .btn-wrapper {
    grid-area: 3/3/4/4;
    display: none;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    font-size: 14px;
  }
  p {
    margin: 20px 0;
  }
  #intro {
    display: grid;
    grid-template-columns: 25vw 1fr 1fr;
    grid-template-rows: 130px 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding: 50px 5vw;
  }
  #intro .btn-wrapper {
    display: none;
  }
  #intro #intro-title {
    grid-area: 1/1/2/2;
    width: 330px;
    align-content: flex-start;
    position: static;
  }
  #intro #intro-text {
    grid-area: 2/1/3/2;
    display: block;
    margin-bottom: 30px;
    padding-left: 0;
  }
  #intro #intro-img {
    grid-area: 1/2/3/4;
    align-items: flex-end;
    padding-top: 20px;
    position: static;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  #intro {
    width: 1025px;
    margin: auto;
  }
  #intro #intro-img {
    padding-top: 20px;
    align-content: space-around;
  }
}
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */
  header {
    z-index: 99;
  }
  .hidden {
    height: 0;
    overflow: hidden;
    margin: 0px !important;
  }
  .active {
    background: #94b8b8;
    color: #033333 !important;
    font-weight: 600;
  }
  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    background: #669999;
  }
  .navbar {
    width: 100%;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar ul li {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar ul #first-child {
    justify-content: space-between !important;
  }
  .navbar ul a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    border-radius: 5px;
  }
  .navbar ul img {
    transform: rotate(270deg);
  }
  .navbar ul a:link,
.navbar ul a:visited {
    color: white;
    text-decoration: none;
    padding: 13px 20px;
  }
  .navbar ul a:active {
    font-weight: 600;
    color: #033333;
    background: #94b8b8;
  }
  .navbar ul a:active #dropdown-arrow {
    background-image: url(/assets/img/icons/arrow-green.svg) !important;
  }
  #dropdown-arrow {
    width: 15px;
    height: 20px;
    background-image: url(/assets/img/icons/arrow-white.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    display: flex;
  }
  .rotate {
    transform: rotate(270deg) !important;
    background-image: url(/assets/img/icons/arrow-green.svg) !important;
  }
  #checkbox-menu {
    position: relative;
    z-index: 2;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .hamburger-lines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  .nav-container .hamburger-lines .line-1 {
    margin-bottom: 8px;
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line-2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line-3 {
    margin-top: 8px;
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines.checked .line1 {
    transform: translateY(11px) scaleX(1.4) rotate(55deg);
    transition: transform 300ms ease-out;
  }
  .nav-container .hamburger-lines.checked .line2 {
    transform: scaleY(0);
  }
  .nav-container .hamburger-lines.checked .line3 {
    transform: translateY(-11px) scaleX(1.4) rotate(-55deg);
    transition: transform 300ms ease-out;
  }
  .nav-container .hamburger-lines.checked ~ .menu-items {
    transform: translateX(0);
  }
  .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    background: #669999;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    align-items: center;
  }
  .menu-items ul.main-menu {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .menu-items li {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
  }
  .menu-items li .submenu {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu-items li .submenu li {
    width: 100%;
  }
  .menu-items li .submenu .bullet {
    background-image: url("/assets/img/icons/moulin-shape-white.svg");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .menu-items li .submenu a {
    text-transform: none;
    font-size: 1.2rem;
  }
  .menu-items li .submenu:link, .menu-items li .submenu:visited {
    padding: 10px, 20px;
  }
  .menu-items li .submenu:active {
    font-weight: 600;
  }
  .menu-items li .submenu:active .bullet {
    background-image: url("/assets/img/icons/moulin-shape.svg");
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  .logo img {
    width: 120px;
  }
}
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */
  footer {
    padding: 30px 40px 50px 40px;
    border-top: solid #033333 2px;
  }
  footer a:link,
footer a:visited {
    color: #033333;
    text-decoration: none;
  }
  footer a:hover, footer a:active {
    opacity: 60%;
  }
  #footer-top {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer-top p {
    margin: 0;
  }
  #footer-top img:first-child {
    min-width: 120px;
    width: 150px;
    padding-top: 10px;
  }
  #footer-top img:first-child:hover, #footer-top img:first-child:active {
    opacity: 60%;
  }
  #footer-top #haut {
    display: inline-flex;
    gap: 10px;
    align-items: center;
  }
  #footer-top #haut img {
    min-width: 15px;
    width: 15px;
  }
  #footer-middle {
    flex-direction: column;
  }
  #footer-middle #footer-contact {
    flex-direction: column;
    grid-row-gap: 20px;
    padding: 30px 0;
    border-bottom: solid #033333 1px;
  }
  #footer-middle #footer-contact div {
    flex-direction: column;
  }
  #footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  #footer-bottom #social {
    flex-direction: row;
    margin: 40px 0 0 0;
    gap: 20px;
    align-items: center;
  }
  #footer-bottom #social img {
    height: 25px;
  }
  #footer-bottom ul {
    margin: 40px 0 30px 0;
    text-align: center;
  }
}
@media (min-width: 320px) { /* smartphones, iPhone, portrait 480x320 phones */ }
.infobox {
  background: #bbe8ef;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  a: hover;
}
.infobox h3 {
  text-align: center;
}
.infobox a:visited {
  opacity: 60%;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  width: fit-content;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
}

.btn-dark {
  background: #033333;
  color: white;
}
.btn-dark:hover {
  background: #055a5a;
  transition: all 0.3s ease;
}
.btn-dark:active {
  background: #0aabab;
}

.btn-light {
  background: white;
  color: #033333;
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .cards-wrapper {
    overflow: hidden;
    background: #bbe8ef;
  }
  .slider {
    width: 100%;
    max-width: 1000px;
    height: 700px;
    position: relative;
    display: grid;
    place-items: center;
  }
  .slide {
    width: 85vw;
    position: absolute;
    transition: all 0.5s;
    justify-content: center;
  }
  .card-item {
    overflow: hidden;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    width: 80vw;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card-item .thumb {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 230px;
    z-index: 0;
  }
  .card-item .thumb.thumb-1 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/canal-soir-sm.jpeg");
  }
  .card-item .thumb.thumb-2 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/fleurs-sm.jpeg");
  }
  .card-item .thumb.thumb-3 {
    background-image: url("/assets/img/itinéraire-maritime/maritime-sm/De_Vaartkapoen-sm.jpeg");
  }
  .card-item .description {
    max-width: 100%;
    padding: 20px 20px 30px 20px;
    background: #003366;
    font-size: 14px;
    color: #FFFFFF;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-item .description.description-1 {
    background: #003366;
  }
  .card-item .description.description-2 {
    background: #006600;
  }
  .card-item .description.description-3 {
    background: #A64253;
  }
  .card-item .description h3 {
    width: 100%;
    text-align: center;
  }
  .filter {
    margin: 15px 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    font-weight: 300;
  }
  .filter p {
    padding: 0;
    margin: 0;
  }
  .filter img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .btn-wrapper-card {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .loaded {
    opacity: 1;
  }
  .arrow-prev {
    left: 0;
    padding: 0 2vw 0 1vw;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .arrow-next {
    right: 0;
    padding: 0 1vw 0 2vw;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .arrow {
    height: 100%;
    position: absolute;
    align-items: center;
  }
  .arrow:active {
    transform: scale(1.1);
  }
  .arrow svg {
    opacity: 1;
    transition: opacity 0.9s;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
  }
  .arrow svg.pale {
    opacity: 0.2;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .slide {
    width: 360px;
  }
  .card-item .description {
    padding: 20px 30px 30px 30px;
  }
  .arrow-prev {
    padding: 0 2vw 0 calc(38vw - 140px);
  }
  .arrow-next {
    padding: 0 calc(38vw - 140px) 0 2vw;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .slide {
    width: 400px;
  }
  .arrow-prev {
    padding: 0 2vw 0 calc(45vw - 170px);
  }
  .arrow-next {
    padding: 0 calc(45vw - 170px) 0 2vw;
  }
  .card-item {
    margin: 20px 25px;
  }
}
@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .slider {
    padding: 0 10vw 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  .slide {
    width: 300px;
    position: relative;
  }
  .card-item {
    margin: 0px;
  }
  .arrow {
    display: none;
  }
  .cards-wrapper {
    justify-content: center;
  }
}
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  .slider {
    grid-column-gap: 20px;
    padding: 0 50px 10vw;
  }
}
@media (min-width: 481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width: 641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width: 1281px) { /* hi-res laptops and desktops */ }

/*# sourceMappingURL=main.css.map */
