:root
{
    /*--bg1: #FFFFFF;

    --bg2: #BBE8EF;

    --bg3: #669999;

    --text: #033333;

    --active: #707070;

    --route3: #003366;

    --route2: #006600;

    --route3: #A64253;*/
    --colorX: #155263;
    --colorY: #ffc93c;
    --colorZ: #ff6f3c;
}



body
{
    background-color: rgb(232, 230, 240);
    display: flex;
    flex-direction: column;
}

#weather
{
    display: flex;
    flex-direction: column;
    
}





#mapid1
{ 
    height: 600px; 
    width: 30vh;
    padding: 10px;
}

.map1
{
    background-color: var(--colorX);
    font-family: 'Courier New', Courier, monospace;
    color: var(--colorZ);
    margin-left: 20px ;
    margin-top: 20px;
    height: 600px;
    width: 32vh;
    padding: 20px;
    border-radius: 3%;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
}


#mapid2
{ 
    height: 900px; 
    width: 30vh;
    padding: 10px;
}

.map2
{
    background-color: var(--colorX);
    font-family: 'Courier New', Courier, monospace;
    color: var(--colorZ);
    margin-left: 20px ;
    margin-top: 20px;
    height: 600px;
    width: 32vh;
    padding: 20px;
    border-radius: 3%;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
}

#mapid3
{ 
    height: 400px; 
    width: 98%;
    padding: 10px;
}



.map3
{
    background-color: var(--colorX);
    font-family: 'Courier New', Courier, monospace;
    color: var(--colorZ);
    margin-left: 20px ;
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    padding: 20px;
    border-radius: 3%;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
}

